@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    
    box-sizing: border-box;
}


body{
    background-color: #ebebeb;
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.4);
    max-height: 5%;
    
}
.logo{
    color:#b8f8ff;
    
    padding: 0;
    margin: 0;
    max-height: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#search{
    background-color: transparent;
    border: 1px solid #b8f8ff;
    border-radius:50px;
    padding: 0.5rem 1rem;
    outline: none;
    color:#b8f8ff;
    justify-content: center;
    max-height: 50%;
    width: 150px;
    margin-top: 20px;
    font-family: inherit;
    font-size: 1rem;
    
}

header input::placeholder{
    color: rgb(203, 235, 233);
}





main{
    display: flex;
    flex-wrap:wrap;
}


.movie{
    border-radius: 10px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 2rem;
    overflow: hidden;
    position: relative;
    
}

.movie img{
    width: 100%;
   
}

.movie-info{
    color: rgb(52, 52, 53);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    align-items: center;
}
.movie-info h3{
    margin: 0;
    
    
    
}

.movie-info span{
    background-color: rgb(37, 34, 34);
    border-radius: 6px;
    padding: 0.25rem 0.5rem; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
   
    
}

.movie-info span.green{
    color:rgb(84, 238, 84);
}
.movie-info span.orange{
    color:rgb(252, 249, 95);
}
.movie-info span.red{
    color:rgb(177, 5, 5);
}


.overview{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(32, 32, 32);
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
    background-color: rgba(35, 36, 36, 0.8);
    backdrop-filter: blur(10px) saturate(90%) contrast(5%) brightness(300%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    font-weight: bold;
    max-height: 100%;
    overflow: auto;
    color: white;
    
}




.movie:hover .overview{
    transform: translateY(0);
}




